<div class="col-md-4 offset-4 mt-4 mb-4 card card-body">
    <form action=""  (ngSubmit)="loginData(form)">

    <h2 class="text-center">Add Movie</h2>

    <div class="form-group">
        <input type="text" name="addmovie" id="addmovie" class="form-control" placeholder="Add Movie...">
    
    </div>

    <div class="form-group">
        <input type="text" name="movietitle" id="movietitle" class="form-control" placeholder="Enter Movie Title...">
    </div>

    <div class="form-group">
        <input type="url" name="imageurl" id="imageurl" class="form-control" placeholder="Movie Image Url">
    </div>

    <div class="form-group">
         <textarea name="desc" id="desc" cols="30" rows="5" class="form-control" placeholder="Enter Movie Description"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" disabled >Login</button>
    </div>


</form>